body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 100%;
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 850px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 360px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.wrapper-form {
  max-width: 1180px;
}

.titleName {
  color: #270051;
  font-family: 'roboto', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

@media screen and (max-width: 560px) {
  .titleName {
    font-size: 28px;
  }
}

.titleName::after {
  margin-top: 18px;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  max-width: 952px;
  background: #270051;
}

.containerPurpureBlock {
  background: #270051;
  background-image: url("../img/circleItem.png");
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 35px 0;
}

.mainItemBlock__text {
  color: #fbe669;
  font-family: 'roboto', sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.4;
  margin-left: 55px;
}

@media screen and (max-width: 560px) {
  .mainItemBlock__text {
    font-size: 24px;
    margin-left: 85px;
  }
}

.mainItemBlock__text-pick {
  color: #fff;
  font-size: 48px;
}

@media screen and (max-width: 560px) {
  .mainItemBlock__text-pick {
    font-size: 28px;
  }
}

.textBlock__subtitle::after, #lines, #lines::after, .programmSection__title::after, .programmSection__title span::after {
  display: block;
  background: #fff;
  height: 1px;
  width: 237px;
}

@media screen and (max-width: 560px) {
  .textBlock__subtitle::after, #lines, #lines::after, .programmSection__title::after, .programmSection__title span::after {
    width: 200px;
  }
}

.navMain {
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 560px) {
  .navMain {
    padding: 12px 0;
  }
}

.navMain__a {
  text-decoration: none;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.navMain__a:hover {
  color: #fbe669;
}

.navMain__ul {
  align-self: center;
}

@media screen and (max-width: 560px) {
  .navMain__ul {
    display: none;
  }
}

.navMain__li {
  display: inline-block;
  line-height: 0;
  vertical-align: top;
  margin-left: 16px;
}

.navMain__li-icon1 {
  font-size: 22px;
}

.navMain__li-icon1::before {
  line-height: 0;
  vertical-align: middle;
  margin-right: 5px;
  content: "";
  display: inline-block;
  width: 19px;
  height: 17px;
  background-image: url("../img/icon1.png");
  background-position: center;
}

.navMain__li-icon2 {
  font-size: 22px;
}

.navMain__li-icon2::before {
  line-height: 0;
  vertical-align: middle;
  margin-right: 5px;
  content: "";
  display: inline-block;
  width: 19px;
  height: 17px;
  background-image: url("../img/icon2.png");
  background-position: center;
}

.navMain__li-icon3 {
  font-size: 22px;
}

.navMain__li-icon3::before {
  line-height: 0;
  vertical-align: middle;
  margin-right: 5px;
  content: "";
  display: inline-block;
  width: 19px;
  height: 17px;
  background-image: url("../img/icon3.png");
  background-position: center;
}

.navMain__li-icon4 {
  font-size: 22px;
}

.navMain__li-icon4::before {
  line-height: 0;
  vertical-align: middle;
  margin-right: 5px;
  content: "";
  display: inline-block;
  width: 19px;
  height: 17px;
  background-image: url("../img/icon4.png");
  background-position: center;
}

.navMain__link {
  padding: 0 5px;
  text-decoration: none;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 27px;
  font-weight: 400;
  transition: background, 0.3s;
}

@media screen and (max-width: 560px) {
  .navMain__link {
    font-size: 20px;
  }
}

.navMain__link:hover {
  color: #000;
  background: #fbe669;
  border-radius: 2px;
}

.container_nav {
  background: #1d0931;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 560px) {
  .container_nav {
    background: #270051;
  }
}

.container_header {
  overflow: hidden;
  background-color: #270051;
  background-image: url("../img/circle.png");
  background-repeat: no-repeat;
  background-position-y: 100px;
  background-position-x: -65px;
  min-height: 610px;
}

@media screen and (max-width: 560px) {
  .container_header {
    min-height: 100vh;
  }
}

.textBlock {
  position: relative;
}

.textBlock__full {
  line-height: 1;
  position: absolute;
  left: 190px;
  top: 139px;
}

@media screen and (max-width: 560px) {
  .textBlock__full {
    position: static;
  }
}

.textBlock__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 66px;
  font-weight: 700;
  color: #fbe669;
  margin-bottom: 58px;
}

@media screen and (max-width: 560px) {
  .textBlock__title {
    text-align: center;
    font-size: 48px;
    text-align: left;
    padding: 10vh 10px 0 20px;
  }
}

.textBlock__subtitle {
  color: #fff;
  font-family: 'roboto', sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-left: 58px;
  line-height: 1.5;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .textBlock__subtitle {
    font-size: 22px;
  }
}

.textBlock__subtitle::after {
  content: "";
  margin-top: 20px;
  margin-bottom: 18px;
}

#lines {
  margin-left: 230px;
  transition: transform, 0.9s;
  transform: translateX(-1000px);
}

@media screen and (max-width: 560px) {
  #lines {
    margin-left: 200px;
  }
}

#lines::after {
  content: "";
  transform: translateY(18px);
  margin-left: 172px;
}

@media screen and (max-width: 560px) {
  #lines::after {
    display: none;
  }
}

.yiellowButton {
  background: #fbe669;
  border-radius: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  transition: background, 0.3s;
  color: #241d1d;
  padding: 5px 72px;
  max-width: 195px;
  text-align: center;
  transform: translateY(-20px);
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.yiellowButton:hover {
  background-color: #00a651;
  color: #fff;
}

.aim {
  background: #fff;
  padding: 120px 0 25px 0;
  min-height: 350px;
  overflow: hidden;
}

@media screen and (max-width: 560px) {
  .aim {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 560px) {
  .aim {
    padding-top: 60px;
  }
}

.aimList__ul {
  margin-top: 38px;
}

@media screen and (max-width: 560px) {
  .aimList__ul {
    margin-top: 28px;
  }
}

.aimList__li {
  margin-left: 82px;
  font-family: 'roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #38383a;
  line-height: 1.5;
  margin-bottom: 50px;
}

@media screen and (max-width: 560px) {
  .aimList__li {
    margin-left: 42px;
  }
}

.aimList__li span {
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 560px) {
  .aimList__li span {
    max-width: 280px;
  }
}

.aimList__li::before {
  content: "";
  display: inline-block;
  background: #F6AD49;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 24px;
}

@media screen and (max-width: 560px) {
  .aimList__li::before {
    width: 13px;
    height: 13px;
  }
}

.videoBlock {
  padding-bottom: 58px;
}

@media screen and (max-width: 560px) {
  .videoBlock {
    padding-bottom: 78px;
  }
}

.videoContainer__video::before, .videoContainer__video::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.videoContainer {
  padding-left: 48px;
  padding-top: 48px;
}

@media screen and (max-width: 560px) {
  .videoContainer {
    padding-left: 0;
    padding-top: 35px;
  }
}

.videoContainer__text {
  font-family: 'roboto', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #474747;
  margin-bottom: 32px;
}

@media screen and (max-width: 560px) {
  .videoContainer__text {
    text-align: center;
  }
}

.videoContainer__video {
  max-width: 800px;
  position: relative;
}

@media screen and (max-width: 560px) {
  .videoContainer__video {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

.videoContainer__video::before {
  background: rgba(36, 0, 81, 0.3);
  left: 15px;
  top: 15px;
}

.videoContainer__video::after {
  background: rgba(36, 0, 81, 0.5);
  left: 10px;
  top: 10px;
}

.videoContainer__ratio {
  padding-top: 56.25%;
  height: 0;
}

.videoContainer__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.programmSection {
  padding: 40px 0 50px 50px;
  margin-bottom: 60px;
  background-image: linear-gradient(90deg, #2eac6a, #81be00);
}

@media screen and (max-width: 560px) {
  .programmSection {
    padding-left: 0;
    margin-bottom: 45px;
  }
}

.programmSection__title {
  color: #fff;
  font-family: 'roboto', sans-serif;
  font-size: 44px;
  font-weight: 700;
}

@media screen and (max-width: 560px) {
  .programmSection__title {
    font-size: 38px;
  }
}

.programmSection__title::after {
  content: "";
  height: 2px;
  margin-top: 15px;
  margin-left: 100px;
  width: 100%;
  max-width: 450px;
}

@media screen and (max-width: 560px) {
  .programmSection__title::after {
    margin-left: 0;
  }
}

.programmSection__title span {
  display: inline-block;
}

.programmSection__title span::after {
  content: "";
  height: 2px;
  margin-top: 15px;
  width: calc(100% + 15px);
}

@media screen and (max-width: 560px) {
  .programmSection__title span::after {
    width: 100%;
    display: none;
  }
}

.lessons__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: space-around;
}

@media screen and (max-width: 560px) {
  .lessons__row {
    justify-content: center;
  }
}

.lessons-marginTop {
  margin-top: 50px;
}

.lessons__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(45.83333333% - 30px);
  color: #000;
  padding: 24px 15px 38px 35px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  margin-bottom: 48px;
  z-index: 100;
}

@media screen and (max-width: 560px) {
  .lessons__item {
    width: calc(91.66666667% - 30px);
  }
}

.lessons__item::after {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: -5;
  top: -15px;
  left: -15px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 560px) {
  .lessons__item::after {
    left: 15px;
  }
}

.lessons__header {
  font-family: 'roboto', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
}

.lessons__description {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.7;
}

.someBlock1 {
  min-height: 500px;
}

.mainItemBlock__text-bigger {
  font-size: 40px;
}

.formsBlock {
  min-height: 500px;
  padding-bottom: 65px;
  background: #fbe669;
}

.formOrder {
  padding-top: 58px;
}

.formOrder__mainHeader {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #270051;
}

.formOrder__container {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-between;
}

.formOrder__text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  font-weight: 400;
}

.formOrder__topText {
  font-size: 20px;
  line-height: 1.5;
}

.formOrder__bottomText {
  margin-top: 60px;
  line-height: 1.7;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.formOrder__bottomText a {
  color: #ef1533;
  font-size: 20px;
}

.formAction input {
  border-radius: 5px;
  outline: none;
  border: 0;
}

.formAction__input {
  margin-bottom: 20px;
}

.formAction__input input {
  height: 45px;
  width: 100%;
  text-indent: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.formAction__buttonSend input {
  color: #fff;
  font-family: 'roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  display: block;
  width: 100%;
  text-transform: uppercase;
  background: #270051;
  padding: 10px 0;
  cursor: pointer;
  transition: background, 0.3s;
}

.formAction__buttonSend input:hover {
  background: #2eac6a;
}

.formAction-basis {
  flex-basis: 350px;
}

.saleBlock {
  color: #270051;
}

.saleBlock__actually {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  font-weight: 400;
  display: inline-block;
}

.saleBlock__sale {
  position: relative;
  display: inline-block;
  margin-right: 55px;
}

.saleBlock__sale span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-decoration: line-through;
  color: #270051;
  opacity: 0.8;
}

.saleBlock__saleSize {
  opacity: 1 !important;
  font-size: 17px !important;
  text-decoration: none !important;
  position: absolute;
  z-index: 0;
  top: -20px;
  right: -30px;
}

.saleBlock-marginTop {
  margin-top: 45px;
}

.footerBlock {
  padding-top: 15px;
  padding-bottom: 25px;
  background: #e1e6eb;
}

.footerBlock__socialAndContacts {
  color: #263154;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}

.footerBlock__logo {
  margin-bottom: 10px;
}

.footerBlock__link {
  cursor: pointer;
  text-decoration: none;
}

.footerBlock__usefullLink {
  display: inline-block;
  margin-left: 150px;
  width: 100%;
  max-width: 750px;
}

.footerBlock__usefullLink ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-between;
}

.footerBlock__usefullLink a {
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #474747;
  transition: color, 0.3s;
}

.footerBlock__usefullLink a:hover {
  color: #270051;
  text-decoration: underline;
}
