$colors: (
    main: #270051,
    dark_main: #1d0931,
    yielow: #fbe669,
    wht: #fff,
    text: #38383a,
    green: #00a651,
    footerBg: #fbeb8e
);

$purpure: map-get($map: $colors, $key: main);
$wht: map-get($map: $colors, $key: wht);
$yiellow: map-get($map: $colors, $key: yielow);

$wrapper_sizes: ();

$img_path: "../img/";