.navMain {
  padding: 8px 0;
  @include xs-block {
    padding: 12px 0;
  }
  
  @include dflex(space-between);
  &__a{
    @include link-reset();
    color: $wht;
    @include source-sans(16px, 400);
     @include xs-block() {
      font-size: 16px
    }
    @include hover() {
      color: map-get($map: $colors, $key: yielow)
    }
  }
  &__ul {
    align-self: center; 
    @include xs-block() {
     display: none; 
    }
  }
  &__li {
    @include ib-menu();
    line-height: 0;
    vertical-align: top;
    margin-left: 16px;
    $list: 1, 2, 3, 4;
   
   @each $num in $list {
     &-icon#{$num} {
      font-size: 22px;
      &::before {
        line-height: 0;
        vertical-align: middle;
        margin-right: 5px;
        content: "";
        display: inline-block;
        width: 19px;
        height: 17px;
        background-image: url('../img/icon#{$num}.png');
        background-position: center;
      }
     }
   }
  }
  &__link {
    padding: 0 5px;
    @include link-reset();
    color: $wht;
    @include source-sans(27px, 400);
    @include md-block() {
      font-size: 22px;
    };
    @include xs-block() {
      font-size: 20px;
    };
    @include hover($transition: true) {
      color: #000;
      @include bg(map-get($colors, yielow));
      @include radius(2px);
    }
  }
} 

.container_nav {
  @include bg(map-get($colors, dark_main));
  @include xs-block() {
    @include bg(map-get($colors, main));
  };
  margin: 0;
  padding: 0;
}

.container_header {
  position: relative;
  overflow: hidden;
  @include md-block {
    min-height: 700px;
  }
  background: {
    color: map-get($map: $colors, $key: main);
    image: url($img_path + "circle.png");
    repeat: no-repeat;
    position-y: 100px; 
    position-x: -65px;
  
  }
    min-height: 610px;
}

.textBlock {

  position: relative;
  &__full {
    line-height: 1;
    position: absolute;
    left:190px;
    top:139px;
    @include md-block() {
     left:100px;
    }
    @include xs-block() {
      position: static;
    }
  }
  &__title {
    @include source-sans(66px, 700);
    color: map-get($map: $colors, $key: yielow);
    margin-bottom: 58px;
    @include md-block() {
      text-align: center;
      font-size: 50px;
      text-align: left;
      padding: 0vh 10px 0 10px;
    }
    @include xs-block() {
      text-align: center;
      font-size: 48px;
      text-align: left;
      max-width: 300px;
      padding: 10vh 10px 0 20px;
    }
  }
  &__subtitle {
    @include roboto-sans($size: 32px, $weight: 700);
    @include md-block() {font-size: 25px}
    @include xs-block() {font-size: 22px}
    margin-left: 58px;
    line-height: 1.5;
    cursor: pointer;
    
    &::after {
      @extend %line;
      content: "";
      margin-top: 20px;
      margin-bottom: 18px;
    }
  }
  a {
    color: $wht;
    @include link-reset;
  }
}

#lines {
  @extend %line;
  @include md-block() {margin-left: 200px}
  margin-left: 230px;
  transition: transform, 0.9s;
  transform: translateX(-1000px);
  &::after {
    @extend %line;
     @include xs-block() {display: none}
    content: "";
    transform: translateY(18px);
    margin-left: 172px;
  }
}
.yiellowButton {
  color: #241d1d;
  max-width: 300px;
  width: 80%;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  @include bg($yiellow);
  @include radius(15px);
  @include source-sans(24px, 400);
  @include absolute-center(true) {bottom: 0}
  @include hover($transition: true) {
    background-color: 
    map-get($map: $colors, $key: green);
    color:$wht; 
  }
  @include md-block { font-size: 20px }
  &__a {
    display: block;
    color:initial;
    @include link-reset;
    width: 100%;
    padding: 5px 0px;
  }
} 
.l-button-container {
  position: relative;
}
