.videoBlock {
    padding-bottom: 120px;
    @include md-block {
        padding-bottom: 85px;
    }
    @include xs-block {
        padding-bottom: 78px;
    }
    @include bg(#F4F5FA);
}

%layouts{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.videoContainer {
    padding-left: 48px;
    padding-top: 130px;
    @include md-block {
        padding-left: 0;
        padding-top: 70px;
    }
    @include xs-block {
        padding-top: 45px;
    }

    &__text {
        @include roboto-sans(40px, 300);
        color:#50667B;
        margin-bottom: 32px;
        @include md-block {
            font-size: 40px;
        }
        @include md-block {
            text-align: center;
        }
    }
    &__video {
        max-width: 800px;
        position: relative;
       // overflow: hidden;
        @include xs-block {
            max-width: 95%;
            @include m-auto();
        }
        &::before {
            @extend %layouts;
            background: rgba(36, 0, 81, 0.3);
            left:15px;
            top:15px;
            // @include xs-block {
            //     left:10px;
            //     top:10px;
            // }
        }
        &::after {
            @extend %layouts;
            background: rgba(36, 0, 81, 0.5);
            left:10px;
            top:10px;
            // @include xs-block {
            //     left:5px;
            //     top:5px;
            // }
        }
    }
    &__ratio {
        padding-top: 56.25%;
        height: 0;
    }
    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}